.question{
	border: 3px solid #ab7106;
	border-radius: 4px;
	padding: 10px;
	display: flex;
	margin-bottom: 20px;
	.question-container {
		p {
			background: #800000;
			color: white;
			font-weight: bold;
			padding: 10px;
		}
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		input{
			flex-grow: 1;
			border: 1px solid #ab7106;
			padding: 15px;
			border-radius: 4px;
		}
	}
	.image{
		display: flex;
		align-items: end;
		margin-right: 13px;
	}
}

button{
	background: #4B0103;
	outline: none;
	border-radius: 6px;
	padding: 12px 30px;
	border: none;
	color: white;
	font-size: 16px;
}


.title {
	background: #800000;
	padding: 15px;
	color: white;
	border-radius: 6px;
	font-size: 16px;
	margin-bottom: 10px;
}
