:host ::ng-deep{

	button.example-custom-date-class {
		background: orange !important;
		border-radius: 100%;
	}

	button.example-custom-date-class-1 {
		background: rgb(15, 11, 3) !important;
		border-radius: 100%;
	}

}


button.example-custom-date-class {
	background: orange !important;
	border-radius: 100%;
}

button.example-custom-date-class-1 {
	background: rgb(15, 11, 3) !important;
	border-radius: 100%;
}
