.page__title {
	color: rgb(34, 51, 84) !important;
	font-weight: 500 !important;
	margin-bottom: 0 !important;
}

.page__subtitle {
	color: rgba(34, 51, 84, 0.7) !important;
	font-size: 14px !important;
}
